*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
img{
  max-width: 100%;
}
html{
  height: 100%;
}
body{
  position: relative;
  min-height: 100%;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;*/
}
.header {
  width: 100%;
  height: 45px;
  background-color: #37a14c;
  color: #fff;
  font-size: 16px;
  padding: 15px 160px 15px 145px;
}
.language {
  background-image: url("../icons/english.gif");
  display: block;
}
.asset_icon {
  flex-basis: 70px;
  min-width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}